:root{
    --color-primary-brand: #4D5AE5;
    --color-pressed-state: #404BBF;
    --color-dark: #2E2F42;
    --color-success: #31D0AA;
    --color-text: #434455;
    --color-subtle-text: #8E8F99;
    --color-accent: #E7E9FC;
    --color-light: #F4F4FD;
    --color-model-overlay: #2E2F42;
    --color-hero-background: #2E2F42;
    --color-white-background: #FFFFFF;
    --color-model-background: #FCFCFC;

}

body {
    color: var(--color-text);
    background-color: var(--color-white-background);
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

ul {
    list-style-type: none;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    color: var(--color-primary-brand);
    text-decoration: none;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-part-header {
    color: var(--color-dark);

}

.logo-part-footer {
    color: var(--color-light);
}

.list{
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-dark);
}

.link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
    text-decoration: none;
    color: var(--color-dark)
}

.link:hover,
.link:focus {
    color: var(--color-pressed-state);
}

.link-contact {
    text-align: right;
    font-style: normal;
    text-decoration: none;
    color: var(--color-dark);
}

.link-contact:hover,
.link-contact:focus {
    color: var(--color-pressed-state);
}

.head-section {
    background-color: var(--color-dark);
}

.head-title {
    color: var(--color-white-background);
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.button {
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-white-background);
    background: var(--color-primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

}

.button:hover,
.button:focus {
    background-color: var(--color-pressed-state);
}

.digital {}

.digital-list{}

.digital-title {
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 20px;
    color: var(--color-dark);
}

.digital-text {
    font-weight: 400;
    color: var(--color-text);
}

.work{}

.title {
    color: var(--color-dark);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

.work-list{}

.staff {
    background-color: var(--color-light);
}

.staff-section {
    background-color: var(--color-white-background);
}

.staff-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02;
    color: var(--color-dark);

}

.staff-speciality {
    text-align: center;
    color: var(--color-text);
}

.basement {
    background-color: var(--color-dark);
}

.basement-text {
    color: var(--color-light);
}

/* portfolio */

.filter-button {
    font-family: Roboto,sans-serif;
    background-color: var(--color-light);
    color: var(--color-primary-brand);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    text-align: center;
    border-radius: 4px;
    border: 1px solid var(--color-accent)
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--color-pressed-state);
    color: var(--color-white-background);
}

.project {
    border: 1px solid var(--color-accent);
}

.project-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-dark);

}

.project-tipe {
    color: var(--color-text);
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-text);
}